page-livestock {
	ion-label[fixed] {
    -webkit-box-flex: 0;
    width: 100px;
    min-width: 100px;
    max-width: 200px;
    flex: 0 0 100px;
	}
	.item{
		margin-top: 0.5em;
	    padding-left: 1rem;
	    padding-right: 1rem;
	    margin-bottom: 0.5em;
	}
	.item input ,.item select ,.item textarea,.item .multi-picker-text,.item .datetime-text,.item .select-text{
		color:#524f4f;
	}
	.ion-title{
		margin-top:0.5em;
	}
	.blank{
		margin-bottom:3em;
	}

	.ng-valid[required], .ng-valid.required  {
	  border-left: 0px solid #42A948; /* green */
	}

	.ng-invalid:not(form)  {
	  border-left: 0px solid #a94442; /* red */
	}

	.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
	  border-bottom-color: #dedede;
	  -webkit-box-shadow: inset 0 0 0 0 #cccccc;
	  box-shadow: inset 0 0 0 0 #cccccc;
	}
	.bar-button-md{
    font-size: 2.4rem;
	}
	.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
	  border-bottom-color: #cccccc;
	  -webkit-box-shadow: inset 0 0px 0 0 #cccccc;
	  box-shadow: inset 0 0px 0 0 #cccccc;
	}

	.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
	border-bottom-color: #cccccc;
	  -webkit-box-shadow: inset 0 0px 0 0 #cccccc;
	  box-shadow: inset 0 0px 0 0 #cccccc;
	}
}
